In [1]:
from flask import Flask, render_template
import datetime
import pandas as pd
import pymssql

In [2]:
conn = pymssql.connect("mispython.database.windows.net",
                       "josephoregon@mispython", "Saione11", "MIS_Python")
cur = conn.cursor()
cur.execute("select @@VERSION")

In [3]:
cur.execute("SELECT * FROM player_salary")

In [4]:
playerstats = cur.fetchall()

In [5]:
player_info = pd.DataFrame(playerstats)

In [6]:
player_info.head()

                    0                      1           2
0   Stephen Curry, PG  Golden State Warriors  34382550.0
1    LeBron James, SF    Cleveland Cavaliers  33285709.0
2    Paul Millsap, PF         Denver Nuggets  31269231.0
3   Blake Griffin, PF            LA Clippers  29727900.0
4  Gordon Hayward, SF         Boston Celtics  29727900.0

In [7]:
app = Flask(__name__)

In [8]:
@app.template_filter()
def datetimefilter(value, format='%Y/%m/%d %H:%M'):
    """convert a datetime to a different format."""
    return value.strftime(format)

app.jinja_env.filters['datetimefilter'] = datetimefilter

In [9]:
@app.route("/")
def home():
    return render_template(
        'homepage.html',
        title="Home",
        current_time=datetime.datetime.now())

In [10]:
@app.route("/about")
def about():
    return render_template(
        'about.html',
        title="About",
        current_time=datetime.datetime.now())

In [11]:
@app.route("/projects")
def projects():
    return render_template(
        'projects.html',
        title="My Projects",
        current_time=datetime.datetime.now())

In [12]:
@app.route("/contact")
def contact():
    return render_template(
        'contact.html',
        title="Contact Us",
        current_time=datetime.datetime.now())

In [13]:
if __name__ == '__main__':
    app.run()

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [29/Apr/2018 20:09:00] "GET /projects HTTP/1.1" 200 -