# Flask App

In [1]:
from flask import Flask, render_template
import datetime
import pandas as pd
import pymssql

In [2]:
app = Flask(__name__)

In [3]:
conn = pymssql.connect("mispython.database.windows.net",
                       "josephoregon@mispython", "Saione11", "MIS_Python")
cur = conn.cursor()
cur.execute("select @@VERSION")

In [4]:
cur.execute("SELECT * FROM playerstats")
playerstats = cur.fetchall()
playerstats = pd.DataFrame(playerstats)
playerstats.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,Aaron Gordon,58,32.9,17.6,6.5,14.9,43.4,2.0,5.9,33.6,...,3.9,69.8,1.5,6.4,7.9,2.3,1.0,0.8,1.8,18.2
1,Al Horford,72,31.6,12.9,5.1,10.5,48.9,1.3,3.1,42.9,...,1.7,78.3,1.4,5.9,7.4,4.7,0.6,1.1,1.8,19.1
2,Alec Burks,64,16.5,7.7,2.7,6.5,41.1,0.7,2.2,33.1,...,1.9,86.3,0.3,2.7,3.0,1.0,0.6,0.1,0.9,7.5
3,Alex Abrines,75,15.1,4.7,1.5,3.9,39.5,1.1,2.9,38.0,...,0.6,84.8,0.3,1.2,1.5,0.4,0.5,0.1,0.3,4.4
4,Alex Len,69,20.2,8.5,3.1,5.5,56.6,0.0,0.0,33.3,...,3.3,68.4,2.5,5.0,7.5,1.2,0.4,0.9,1.1,13.9

## Flask Decorators

In [5]:
@app.template_filter()
def datetimefilter(value, format='%Y/%m/%d %H:%M'):
    """convert a datetime to a different format."""
    return value.strftime(format)

app.jinja_env.filters['datetimefilter'] = datetimefilter

In [6]:
@app.route("/")
def home():
    return render_template(
        'homepage.html',
        title="Home",
        current_time=datetime.datetime.now())

In [7]:
@app.route("/about")
def about():
    return render_template(
        'about.html',
        title="About",
        current_time=datetime.datetime.now())

In [8]:
@app.route("/projects")
def projects():
    return render_template(
        'projects.html',
        title="My Projects",
        current_time=datetime.datetime.now())

In [9]:
@app.route("/playerstats")
def player_stats():

    
    return playerstats

In [10]:
@app.route("/contact")
def contact():
    return render_template(
        'contact.html',
        title="Contact Us",
        current_time=datetime.datetime.now())

In [11]:
if __name__ == '__main__':
    app.run()

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)