# Web Scraping Code

### [ Modules ]

In [1]:
import jupyter_contrib_nbextensions
from selenium import webdriver
import pandas as pd
import collections
import time
import csv

### [ STATS.NBA.COM ] - Player Statistics

In [2]:
driver = webdriver.Chrome('/Users/josephrosas/Documents/2education/2_py/finalproject/chromedriver')

driver.get('http://stats.nba.com/leaders/?Season=2017-18&SeasonType=Regular%20Season')
time.sleep(5)

In [3]:
csv_file = open('playerstats.csv', 'w')
writer = csv.writer(csv_file)
writer.writerow(['PLAYER', 'GP', 'MIN', 'PTS', 'FGM', 'FGA', 
                 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB',
                 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOv', '+/-'])

89

In [4]:
plyr_stats = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/ \
                                           nba-stat-table/div[2]/div[1]/table/tbody/tr')

In [5]:
links = []


for ply in plyr_stats:
    plyr_dict = collections.OrderedDict()
    link = ply.find_element_by_xpath('.//td[2]/a').get_attribute('href')
    Player = ply.find_element_by_xpath('.//td[2]/a').text
    GP = ply.find_element_by_xpath('.//td[3]').text
    Min = ply.find_element_by_xpath('.//td[4]').text
    Pts = ply.find_element_by_xpath('.//td[5]').text
    FGM = ply.find_element_by_xpath('.//td[6]').text
    FGA = ply.find_element_by_xpath('.//td[7]').text
    FGper = ply.find_element_by_xpath('.//td[8]').text
    threePM = ply.find_element_by_xpath('.//td[9]').text
    threePA = ply.find_element_by_xpath('.//td[10]').text
    threePper = ply.find_element_by_xpath('.//td[11]').text
    FTM = ply.find_element_by_xpath('.//td[12]').text
    FTA = ply.find_element_by_xpath('.//td[13]').text
    FTper = ply.find_element_by_xpath('.//td[14]').text
    OReb = ply.find_element_by_xpath('.//td[15]').text
    DReb = ply.find_element_by_xpath('.//td[16]').text
    Reb = ply.find_element_by_xpath('.//td[17]').text
    Ast = ply.find_element_by_xpath('.//td[18]').text
    Stl = ply.find_element_by_xpath('.//td[19]').text
    Blk = ply.find_element_by_xpath('.//td[20]').text
    TOv = ply.find_element_by_xpath('.//td[21]').text
    plusMinus = ply.find_element_by_xpath('.//td[22]').text
    links.append([Player.replace(' ',''), link])
    
    plyr_dict.update({'Player': Player, 'GP': GP, 'Min': Min, 'Pts': Pts, 
                    'FGM': FGM, 'FGA': FGA, 'FGper': FGper, 'threePM': threePM, 
                    'threePA': threePA, 'threePper': threePper, 'FTM': FTM, 'FTA': FTA, 
                    'FTper': FTper, 'OReb': OReb, 'DReb': DReb, 'Reb': Reb, 'Ast': Ast, 
                    'Stl': Stl, 'Blk': Blk, 'TOv': TOv, 'plusMinus': plusMinus})
    
    writer.writerow(plyr_dict.values())

csv_file.close()

In [ ]:
player_stats = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playerstats.csv')

In [ ]:
#player_links = pd.DataFrame(links, columns=['Player Name', 'Profile Link'])

In [ ]:
player_stats2 = player_stats.drop(columns=['PLAYER'])

In [ ]:
player_stats.head()

### [ STATS.NBA.COM ] - Team Statistics

In [ ]:
driver = webdriver.Chrome('/Users/josephrosas/Documents/2education/2_py/finalproject/chromedriver')

# This URL leads to the complete 2017-2018 season.
driver.get('http://stats.nba.com/teams/traditional/?sort=TEAM_NAME&dir=-1&Season=2017-18&SeasonType=Regular%20Season')
time.sleep(5)

In [ ]:
csv_file = open('teamstats.csv', 'w')
writer = csv.writer(csv_file)
writer.writerow(['TEAM', 'GP', 'WIN', 'LOSE', 'WIN%','MIN', 'PTS', 'FGM', 'FGA', 
                 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB',
                 'DREB', 'REB', 'AST', 'TOv', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', '+/-'])

In [ ]:
team_stats = driver.find_elements_by_xpath('/html/body/main/div[2]/div/div[2]/div/div/ \
                                           nba-stat-table/div[2]/div[1]/table/tbody/tr')

In [ ]:
for tm in team_stats:
    team_dict = collections.OrderedDict()
    Team = tm.find_element_by_xpath('.//td[2]/a').text
    GP = tm.find_element_by_xpath('.//td[3]').text
    W = tm.find_element_by_xpath('.//td[4]').text
    L = tm.find_element_by_xpath('.//td[5]').text
    Wper = tm.find_element_by_xpath('.//td[6]').text
    Min = tm.find_element_by_xpath('.//td[7]').text
    Pts = tm.find_element_by_xpath('.//td[8]').text
    FGM = tm.find_element_by_xpath('.//td[9]').text
    FGA = tm.find_element_by_xpath('.//td[10]').text
    FGper = tm.find_element_by_xpath('.//td[11]').text
    ThreeM = tm.find_element_by_xpath('.//td[12]').text
    ThreeA = tm.find_element_by_xpath('.//td[13]').text
    ThreePer = tm.find_element_by_xpath('.//td[14]').text
    Ftm = tm.find_element_by_xpath('.//td[15]').text
    Fta = tm.find_element_by_xpath('.//td[16]').text
    FTper = tm.find_element_by_xpath('.//td[17]').text
    Oreb = tm.find_element_by_xpath('.//td[18]').text
    Dreb = tm.find_element_by_xpath('.//td[19]').text
    Reb = tm.find_element_by_xpath('.//td[20]').text
    Ast = tm.find_element_by_xpath('.//td[21]').text
    Tov = tm.find_element_by_xpath('.//td[22]').text
    Stl = tm.find_element_by_xpath('.//td[23]').text
    Blk = tm.find_element_by_xpath('.//td[24]').text
    Blka = tm.find_element_by_xpath('.//td[25]').text
    Pf = tm.find_element_by_xpath('.//td[26]').text
    Pfd = tm.find_element_by_xpath('.//td[27]').text
    PlusMinus = tm.find_element_by_xpath('.//td[28]').text
    
    team_dict.update({'TEAM': Team, 'GP': GP, 'W': W, 'L': L, 'WIN%': Wper, 'MIN': Min, 'PTS': Pts, 'FGM': FGM,
                      'FGA': FGA, 'FG%': FGper, '3PM': ThreeM, '3PA': ThreeA, '3P%': ThreePer,'FTM': Ftm,'FTA': Fta,'FT%': ThreePer, 'OREB': Oreb,
                      'DREB': Dreb, 'REB': Reb, 'AST': Ast, 'TOv': Tov, 'STL': Stl, 'BLK': Blk, 'BLKA': Blka,
                      'PF': Pf, 'PFD': Pfd, '+/-': PlusMinus})
    
    writer.writerow(team_dict.values())

csv_file.close()

In [ ]:
team_stats = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/teamstats.csv')

In [ ]:
team_stats = team_stats.drop(columns=['PF', 'PFD', '+/-'])

In [ ]:
pd.set_option('display.max_columns', None)

### [ STATS.NBA.COM ] - Player Profile

In [6]:
player_stats = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playerstats.csv')

In [7]:
player_links = pd.DataFrame(links, columns=['Player Name', 'Profile Link'])

In [8]:
player_stats.head()

,PLAYER,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOv,+/-
0,James Harden,72,35.4,30.4,9.0,20.1,44.9,3.7,10.0,36.7,...,10.1,85.8,0.6,4.8,5.4,8.8,1.8,0.7,4.4,30.1
1,Anthony Davis,75,36.4,28.1,10.4,19.5,53.4,0.7,2.2,34.0,...,8.0,82.8,2.5,8.6,11.1,2.3,1.5,2.6,2.2,33.0
2,LeBron James,82,36.9,27.5,10.5,19.3,54.2,1.8,5.0,36.7,...,6.5,73.1,1.2,7.5,8.6,9.1,1.4,0.9,4.2,32.7
3,Damian Lillard,73,36.6,26.9,8.5,19.4,43.9,3.1,8.6,36.1,...,7.4,91.6,0.8,3.6,4.5,6.6,1.1,0.4,2.8,25.0
4,Giannis Antetokounmpo,75,36.7,26.9,9.9,18.7,52.9,0.6,1.9,30.7,...,8.5,76.0,2.1,8.0,10.0,4.8,1.5,1.4,3.0,30.7

In [9]:
# using the "links" dictionary to gather individual player profiles
all_links = [item[1] for item in links]

with open('playerdetails.csv', 'w') as csv_file2:
    writer2 = csv.writer(csv_file2)
    writer2.writerow(['NAME', 'TEAM', 'POS', 'HT', 'WT', 'AGE', 'EXP'])

    for link in all_links:
        plyr_detail = collections.OrderedDict()
        driver.get(link)
        time.sleep(5)
        Name = driver.find_element_by_xpath('/html/body/main/div[2]/div/div/div[2]/div/div/div/div[1]/div/div[2]/div/div[1]/div').text
        Team = driver.find_element_by_xpath('/html/body/main/div[2]/div/div/div[2]/div/div/div/div[1]/div/div[2]/div/div[2]/a/span').text
        POS = driver.find_element_by_xpath('/html/body/main/div[2]/div/div/div[2]/div/div/div/div[1]/div/div[2]/div/div[2]/span').text
        HT = driver.find_element_by_xpath('/html/body/main/div[2]/div/div/div[2]/div/div/div/div[2]/div[2]/div[1]/a/span').text
        WT = driver.find_element_by_xpath('/html/body/main/div[2]/div/div/div[2]/div/div/div/div[2]/div[2]/div[2]/a/span').text
        AGE = driver.find_element_by_xpath('/html/body/main/div[2]/div/div/div[2]/div/div/div/div[2]/div[2]/div[3]/a/span[1]').text
        EXP = driver.find_element_by_xpath('/html/body/main/div[2]/div/div/div[2]/div/div/div/div[2]/div[3]/div[3]/div[2]').text

        plyr_detail.update({'Name': Name, 'Team': Team, 'POS': POS,
                            'HT': HT, 'WT': WT, 'AGE': AGE, 'EXP': EXP})

        writer2.writerow(plyr_detail.values())

In [10]:
#import CSV to pandas dataframe
player_details = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playerdetails.csv', index_col=None)

In [11]:
# tunned up the "NAME" column by removing "\n" that was inserted during web scraping
player_details['NAME'] = player_details['NAME'].str.replace('\n', ' ')

In [14]:
player_details.isnull().values.any()

False

In [15]:
player_details.head()

,NAME,TEAM,POS,HT,WT,AGE,EXP
0,James Harden,HOUSTON ROCKETS,G,6-5,220 lbs,28,8 yrs
1,Anthony Davis,NEW ORLEANS PELICANS,F-C,6-10,253 lbs,25,5 yrs
2,LeBron James,CLEVELAND CAVALIERS,F-G,6-8,250 lbs,33,14 yrs
3,Damian Lillard,PORTLAND TRAIL BLAZERS,G,6-3,195 lbs,27,5 yrs
4,Giannis Antetokounmpo,MILWAUKEE BUCKS,F,6-11,222 lbs,23,4 yrs

##### Combine DataFrames

In [ ]:
player_stats2 = player_stats.drop(columns=['PLAYER'])

In [ ]:
player_stats2.head()

In [ ]:
player_info = player_details.join(player_stats2)

In [ ]:
player_info.head()

### [ ESPN.COM ] - Salary

###### Scrap Top 40 Players

In [ ]:
driver = webdriver.Chrome('/Users/josephrosas/Documents/2education/2_py/finalproject/chromedriver')

driver.get('http://www.espn.com/nba/salaries/_/seasontype/3')
time.sleep(3)

csv_file = open('playersalaries.csv', 'w')
writer = csv.writer(csv_file)
writer.writerow(['RANK','NAME','TEAM','SALARY'])

salary = driver.find_elements_by_xpath('//*[@id="my-players-table"]/div/div[2]/table/tbody/tr')

for sal in salary:
    salary_dict = collections.OrderedDict()
    Rank = sal.find_element_by_xpath('./td[1]').text
    Name = sal.find_element_by_xpath('.//td[2]').text
    Team = sal.find_element_by_xpath('.//td[3]').text
    Salary = sal.find_element_by_xpath('.//td[4]').text
    salary_dict.update({'RANK': Rank, 'NAME': Name, 'TEAM': Team, 'SALARY': Salary })
    
    writer.writerow(salary_dict.values())
    
csv_file.close()

In [ ]:
player_salary = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries.csv')
player_salary = player_salary.drop([0])
player_salary.head()

In [ ]:
player_salary['PLAYER'] = player_salary['NAME'].str.rpartition(',')[0]
player_salary['POSITION'] = player_salary['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary = player_salary[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]
player_salary = player_salary.drop([11,22,33])
player_salary

###### Scrap 41 - 80 Players

In [ ]:
driver = webdriver.Chrome('/Users/josephrosas/Documents/2education/2_py/finalproject/chromedriver')

driver.get('http://www.espn.com/nba/salaries/_/page/2/seasontype/3')
time.sleep(3)

In [ ]:
csv_file = open('playersalaries2.csv', 'w')
writer = csv.writer(csv_file)
writer.writerow(['RANK','NAME','TEAM','SALARY'])

In [ ]:
salary = driver.find_elements_by_xpath('//*[@id="my-players-table"]/div/div[2]/table/tbody/tr')

In [ ]:
for sal in salary:
    salary_dict = collections.OrderedDict()
    Rank = sal.find_element_by_xpath('./td[1]').text
    Name = sal.find_element_by_xpath('.//td[2]').text
    Team = sal.find_element_by_xpath('.//td[3]').text
    Salary = sal.find_element_by_xpath('.//td[4]').text
    salary_dict.update({'RANK': Rank, 'NAME': Name, 'TEAM': Team, 'SALARY': Salary })
    
    writer.writerow(salary_dict.values())
    
csv_file.close()

In [ ]:
player_salary2 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries2.csv')

In [ ]:
player_salary2.head()

In [ ]:
player_salary2 = player_salary2.drop([0])

In [ ]:
player_salary2.head()

In [ ]:
player_salary2['PLAYER'] = player_salary2['NAME'].str.rpartition(',')[0]
player_salary2['POSITION'] = player_salary2['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary2 = player_salary2[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]

In [ ]:
player_salary2 = player_salary2.drop([11,22,33])

In [ ]:
player_salary2

###### Scrap 81 - 120 Players

In [ ]:
driver = webdriver.Chrome('/Users/josephrosas/Documents/2education/2_py/finalproject/chromedriver')

driver.get('http://www.espn.com/nba/salaries/_/page/3/seasontype/3')
time.sleep(3)

In [ ]:
csv_file = open('playersalaries3.csv', 'w')
writer = csv.writer(csv_file)
writer.writerow(['RANK','NAME','TEAM','SALARY'])

In [ ]:
salary = driver.find_elements_by_xpath('//*[@id="my-players-table"]/div/div[2]/table/tbody/tr')

In [ ]:
for sal in salary:
    salary_dict = collections.OrderedDict()
    Rank = sal.find_element_by_xpath('./td[1]').text
    Name = sal.find_element_by_xpath('.//td[2]').text
    Team = sal.find_element_by_xpath('.//td[3]').text
    Salary = sal.find_element_by_xpath('.//td[4]').text
    salary_dict.update({'RANK': Rank, 'NAME': Name, 'TEAM': Team, 'SALARY': Salary })
    
    writer.writerow(salary_dict.values())
    
csv_file.close()

In [ ]:
player_salary3 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries3.csv')

In [ ]:
player_salary3.head()

In [ ]:
player_salary3 = player_salary3.drop([0])

In [ ]:
player_salary3.head()

In [ ]:
player_salary3['PLAYER'] = player_salary3['NAME'].str.rpartition(',')[0]
player_salary3['POSITION'] = player_salary3['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary3 = player_salary3[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]

In [ ]:
player_salary3 = player_salary3.drop([11,22,33])

In [ ]:
player_salary3

###### Scrap 121 - 160 Players

In [ ]:
driver = webdriver.Chrome('/Users/josephrosas/Documents/2education/2_py/finalproject/chromedriver')

driver.get('http://www.espn.com/nba/salaries/_/page/4/seasontype/3')
time.sleep(3)

In [ ]:
csv_file = open('playersalaries4.csv', 'w')
writer = csv.writer(csv_file)
writer.writerow(['RANK','NAME','TEAM','SALARY'])

In [ ]:
salary = driver.find_elements_by_xpath('//*[@id="my-players-table"]/div/div[2]/table/tbody/tr')

In [ ]:
for sal in salary:
    salary_dict = collections.OrderedDict()
    Rank = sal.find_element_by_xpath('./td[1]').text
    Name = sal.find_element_by_xpath('.//td[2]').text
    Team = sal.find_element_by_xpath('.//td[3]').text
    Salary = sal.find_element_by_xpath('.//td[4]').text
    salary_dict.update({'RANK': Rank, 'NAME': Name, 'TEAM': Team, 'SALARY': Salary })
    
    writer.writerow(salary_dict.values())
    
csv_file.close()

In [ ]:
player_salary4 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries4.csv')

In [ ]:
player_salary4.head()

In [ ]:
player_salary4 = player_salary4.drop([0])

In [ ]:
player_salary4.head()

In [ ]:
player_salary4['PLAYER'] = player_salary4['NAME'].str.rpartition(',')[0]
player_salary4['POSITION'] = player_salary4['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary4 = player_salary4[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]

In [ ]:
player_salary4 = player_salary4.drop([11,22,33])

In [ ]:
player_salary4

###### Scrap 161 - 200 Players

In [ ]:
driver = webdriver.Chrome('/Users/josephrosas/Documents/2education/2_py/finalproject/chromedriver')

driver.get('http://www.espn.com/nba/salaries/_/page/5/seasontype/3')
time.sleep(3)

In [ ]:
csv_file = open('playersalaries5.csv', 'w')
writer = csv.writer(csv_file)
writer.writerow(['RANK','NAME','TEAM','SALARY'])

In [ ]:
salary = driver.find_elements_by_xpath('//*[@id="my-players-table"]/div/div[2]/table/tbody/tr')

In [ ]:
for sal in salary:
    salary_dict = collections.OrderedDict()
    Rank = sal.find_element_by_xpath('./td[1]').text
    Name = sal.find_element_by_xpath('.//td[2]').text
    Team = sal.find_element_by_xpath('.//td[3]').text
    Salary = sal.find_element_by_xpath('.//td[4]').text
    salary_dict.update({'RANK': Rank, 'NAME': Name, 'TEAM': Team, 'SALARY': Salary })
    
    writer.writerow(salary_dict.values())
    
csv_file.close()

In [ ]:
player_salary5 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries5.csv')

In [ ]:
player_salary5.head()

In [ ]:
player_salary5 = player_salary5.drop([0])

In [ ]:
player_salary5.head()

In [ ]:
player_salary5['PLAYER'] = player_salary5['NAME'].str.rpartition(',')[0]
player_salary5['POSITION'] = player_salary5['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary5 = player_salary5[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]

In [ ]:
player_salary5 = player_salary5.drop([11,22,33])

In [ ]:
player_salary5

###### Scrap 201 - 240 Players

In [ ]:
driver = webdriver.Chrome('/Users/josephrosas/Documents/2education/2_py/finalproject/chromedriver')

driver.get('http://www.espn.com/nba/salaries/_/page/6/seasontype/3')
time.sleep(3)

In [ ]:
csv_file = open('playersalaries6.csv', 'w')
writer = csv.writer(csv_file)
writer.writerow(['RANK','NAME','TEAM','SALARY'])

In [ ]:
salary = driver.find_elements_by_xpath('//*[@id="my-players-table"]/div/div[2]/table/tbody/tr')

In [ ]:
for sal in salary:
    salary_dict = collections.OrderedDict()
    Rank = sal.find_element_by_xpath('./td[1]').text
    Name = sal.find_element_by_xpath('.//td[2]').text
    Team = sal.find_element_by_xpath('.//td[3]').text
    Salary = sal.find_element_by_xpath('.//td[4]').text
    salary_dict.update({'RANK': Rank, 'NAME': Name, 'TEAM': Team, 'SALARY': Salary })
    
    writer.writerow(salary_dict.values())
    
csv_file.close()

In [ ]:
player_salary6 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries6.csv')

In [ ]:
player_salary6.head()

In [ ]:
player_salary6 = player_salary6.drop([0])

In [ ]:
player_salary6.head()

In [ ]:
player_salary6['PLAYER'] = player_salary6['NAME'].str.rpartition(',')[0]
player_salary6['POSITION'] = player_salary6['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary6 = player_salary6[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]

In [ ]:
player_salary6 = player_salary6.drop([11,22,33])

In [ ]:
player_salary6

###### Scrap 241 - 280 Players

In [ ]:
driver = webdriver.Chrome('/Users/josephrosas/Documents/2education/2_py/finalproject/chromedriver')

driver.get('http://www.espn.com/nba/salaries/_/page/7/seasontype/3')
time.sleep(3)

In [ ]:
csv_file = open('playersalaries7.csv', 'w')
writer = csv.writer(csv_file)
writer.writerow(['RANK','NAME','TEAM','SALARY'])

In [ ]:
salary = driver.find_elements_by_xpath('//*[@id="my-players-table"]/div/div[2]/table/tbody/tr')

In [ ]:
for sal in salary:
    salary_dict = collections.OrderedDict()
    Rank = sal.find_element_by_xpath('./td[1]').text
    Name = sal.find_element_by_xpath('.//td[2]').text
    Team = sal.find_element_by_xpath('.//td[3]').text
    Salary = sal.find_element_by_xpath('.//td[4]').text
    salary_dict.update({'RANK': Rank, 'NAME': Name, 'TEAM': Team, 'SALARY': Salary })
    
    writer.writerow(salary_dict.values())
    
csv_file.close()

In [ ]:
player_salary7 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries7.csv')

In [ ]:
player_salary7.head()

In [ ]:
player_salary7 = player_salary7.drop([0])

In [ ]:
player_salary7.head()

In [ ]:
player_salary7['PLAYER'] = player_salary7['NAME'].str.rpartition(',')[0]
player_salary7['POSITION'] = player_salary7['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary7 = player_salary7[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]

In [ ]:
player_salary7 = player_salary7.drop([11,22,33])

In [ ]:
player_salary7

###### Scrap 281 - 320 Players

In [ ]:
driver = webdriver.Chrome('/Users/josephrosas/Documents/2education/2_py/finalproject/chromedriver')

driver.get('http://www.espn.com/nba/salaries/_/page/8/seasontype/3')
time.sleep(3)

In [ ]:
csv_file = open('playersalaries8.csv', 'w')
writer = csv.writer(csv_file)
writer.writerow(['RANK','NAME','TEAM','SALARY'])

In [ ]:
salary = driver.find_elements_by_xpath('//*[@id="my-players-table"]/div/div[2]/table/tbody/tr')

In [ ]:
for sal in salary:
    salary_dict = collections.OrderedDict()
    Rank = sal.find_element_by_xpath('./td[1]').text
    Name = sal.find_element_by_xpath('.//td[2]').text
    Team = sal.find_element_by_xpath('.//td[3]').text
    Salary = sal.find_element_by_xpath('.//td[4]').text
    salary_dict.update({'RANK': Rank, 'NAME': Name, 'TEAM': Team, 'SALARY': Salary })
    
    writer.writerow(salary_dict.values())
    
csv_file.close()

In [ ]:
player_salary8 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries8.csv')

In [ ]:
player_salary8.head()

In [ ]:
player_salary8 = player_salary8.drop([0])

In [ ]:
player_salary8.head()

In [ ]:
player_salary8['PLAYER'] = player_salary8['NAME'].str.rpartition(',')[0]
player_salary8['POSITION'] = player_salary8['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary8 = player_salary8[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]

In [ ]:
player_salary8 = player_salary8.drop([11,22,33])

In [ ]:
player_salary8

###### Scrap 321 - 360 Players

In [ ]:
driver = webdriver.Chrome('/Users/josephrosas/Documents/2education/2_py/finalproject/chromedriver')

driver.get('http://www.espn.com/nba/salaries/_/page/9/seasontype/3')
time.sleep(3)

In [ ]:
csv_file = open('playersalaries9.csv', 'w')
writer = csv.writer(csv_file)
writer.writerow(['RANK','NAME','TEAM','SALARY'])

In [ ]:
salary = driver.find_elements_by_xpath('//*[@id="my-players-table"]/div/div[2]/table/tbody/tr')

In [ ]:
for sal in salary:
    salary_dict = collections.OrderedDict()
    Rank = sal.find_element_by_xpath('./td[1]').text
    Name = sal.find_element_by_xpath('.//td[2]').text
    Team = sal.find_element_by_xpath('.//td[3]').text
    Salary = sal.find_element_by_xpath('.//td[4]').text
    salary_dict.update({'RANK': Rank, 'NAME': Name, 'TEAM': Team, 'SALARY': Salary })
    
    writer.writerow(salary_dict.values())
    
csv_file.close()

In [ ]:
player_salary9 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries9.csv')

In [ ]:
player_salary9.head()

In [ ]:
player_salary9 = player_salary9.drop([0])

In [ ]:
player_salary9.head()

In [ ]:
player_salary9['PLAYER'] = player_salary9['NAME'].str.rpartition(',')[0]
player_salary9['POSITION'] = player_salary9['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary9 = player_salary9[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]

In [ ]:
player_salary9 = player_salary9.drop([11,22,33])

In [ ]:
player_salary9

###### Scrap 361 - 400 Players

In [ ]:
driver = webdriver.Chrome('/Users/josephrosas/Documents/2education/2_py/finalproject/chromedriver')

driver.get('http://www.espn.com/nba/salaries/_/page/10/seasontype/3')
time.sleep(3)

In [ ]:
csv_file = open('playersalaries10.csv', 'w')
writer = csv.writer(csv_file)
writer.writerow(['RANK','NAME','TEAM','SALARY'])

In [ ]:
salary = driver.find_elements_by_xpath('//*[@id="my-players-table"]/div/div[2]/table/tbody/tr')

In [ ]:
for sal in salary:
    salary_dict = collections.OrderedDict()
    Rank = sal.find_element_by_xpath('./td[1]').text
    Name = sal.find_element_by_xpath('.//td[2]').text
    Team = sal.find_element_by_xpath('.//td[3]').text
    Salary = sal.find_element_by_xpath('.//td[4]').text
    salary_dict.update({'RANK': Rank, 'NAME': Name, 'TEAM': Team, 'SALARY': Salary })
    
    writer.writerow(salary_dict.values())
    
csv_file.close()

In [ ]:
player_salary10 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries10.csv')

In [ ]:
player_salary10.head()

In [ ]:
player_salary10 = player_salary10.drop([0])

In [ ]:
player_salary10.head()

In [ ]:
player_salary10['PLAYER'] = player_salary10['NAME'].str.rpartition(',')[0]
player_salary10['POSITION'] = player_salary10['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary10 = player_salary10[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]

In [ ]:
player_salary10 = player_salary10.drop([11,22,33])

In [ ]:
player_salary10

###### Scrap 401 - 440 Players

In [ ]:
driver = webdriver.Chrome('/Users/josephrosas/Documents/2education/2_py/finalproject/chromedriver')

driver.get('http://www.espn.com/nba/salaries/_/page/11/seasontype/3')
time.sleep(3)

In [ ]:
csv_file = open('playersalaries11.csv', 'w')
writer = csv.writer(csv_file)
writer.writerow(['RANK','NAME','TEAM','SALARY'])

In [ ]:
salary = driver.find_elements_by_xpath('//*[@id="my-players-table"]/div/div[2]/table/tbody/tr')

In [ ]:
for sal in salary:
    salary_dict = collections.OrderedDict()
    Rank = sal.find_element_by_xpath('./td[1]').text
    Name = sal.find_element_by_xpath('.//td[2]').text
    Team = sal.find_element_by_xpath('.//td[3]').text
    Salary = sal.find_element_by_xpath('.//td[4]').text
    salary_dict.update({'RANK': Rank, 'NAME': Name, 'TEAM': Team, 'SALARY': Salary })
    
    writer.writerow(salary_dict.values())
    
csv_file.close()

In [ ]:
player_salary11 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries11.csv')

In [ ]:
player_salary11.head()

In [ ]:
player_salary11 = player_salary11.drop([0])

In [ ]:
player_salary11.head()

In [ ]:
player_salary11['PLAYER'] = player_salary11['NAME'].str.rpartition(',')[0]
player_salary11['POSITION'] = player_salary11['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary11 = player_salary11[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]

In [ ]:
player_salary11 = player_salary11.drop([11,22,33])

In [ ]:
player_salary11

###### Scrap 441 - 480 Players

In [ ]:
driver = webdriver.Chrome('/Users/josephrosas/Documents/2education/2_py/finalproject/chromedriver')

driver.get('http://www.espn.com/nba/salaries/_/page/12/seasontype/3')
time.sleep(3)

In [ ]:
csv_file = open('playersalaries12.csv', 'w')
writer = csv.writer(csv_file)
writer.writerow(['RANK','NAME','TEAM','SALARY'])

In [ ]:
salary = driver.find_elements_by_xpath('//*[@id="my-players-table"]/div/div[2]/table/tbody/tr')

In [ ]:
for sal in salary:
    salary_dict = collections.OrderedDict()
    Rank = sal.find_element_by_xpath('./td[1]').text
    Name = sal.find_element_by_xpath('.//td[2]').text
    Team = sal.find_element_by_xpath('.//td[3]').text
    Salary = sal.find_element_by_xpath('.//td[4]').text
    salary_dict.update({'RANK': Rank, 'NAME': Name, 'TEAM': Team, 'SALARY': Salary })
    
    writer.writerow(salary_dict.values())
    
csv_file.close()

In [ ]:
player_salary12 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries12.csv')

In [ ]:
player_salary12.head()

In [ ]:
player_salary12 = player_salary12.drop([0])

In [ ]:
player_salary12.head()

In [ ]:
player_salary12['PLAYER'] = player_salary12['NAME'].str.rpartition(',')[0]
player_salary12['POSITION'] = player_salary12['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary12 = player_salary12[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]

In [ ]:
player_salary12 = player_salary12.drop([11,22,33])

In [ ]:
player_salary12

###### Scrap 481 - 484 Players

In [ ]:
driver = webdriver.Chrome('/Users/josephrosas/Documents/2education/2_py/finalproject/chromedriver')

driver.get('http://www.espn.com/nba/salaries/_/page/13/seasontype/3')
time.sleep(3)

In [ ]:
csv_file = open('playersalaries13.csv', 'w')
writer = csv.writer(csv_file)
writer.writerow(['RANK','NAME','TEAM','SALARY'])

In [ ]:
salary = driver.find_elements_by_xpath('//*[@id="my-players-table"]/div/div[2]/table/tbody/tr')

In [ ]:
for sal in salary:
    salary_dict = collections.OrderedDict()
    Rank = sal.find_element_by_xpath('./td[1]').text
    Name = sal.find_element_by_xpath('.//td[2]').text
    Team = sal.find_element_by_xpath('.//td[3]').text
    Salary = sal.find_element_by_xpath('.//td[4]').text
    salary_dict.update({'RANK': Rank, 'NAME': Name, 'TEAM': Team, 'SALARY': Salary })
    
    writer.writerow(salary_dict.values())
    
csv_file.close()

In [ ]:
player_salary13 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries13.csv')

In [ ]:
player_salary13.head()

In [ ]:
player_salary13 = player_salary13.drop([0])

In [ ]:
player_salary13.head()

In [ ]:
player_salary13['PLAYER'] = player_salary13['NAME'].str.rpartition(',')[0]
player_salary13['POSITION'] = player_salary13['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary13 = player_salary13[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]

In [ ]:
#player_salary13 = player_salary13.drop([11,22,33])

### Join Salary DataFrames

In [ ]:
salary_frames = [player_salary, player_salary2, player_salary3, player_salary4,
                  player_salary5, player_salary6, player_salary7, player_salary8,
                  player_salary9, player_salary10, player_salary11, player_salary12,player_salary13]

In [ ]:
player_salaries = pd.concat(salary_frames)

In [ ]:
player_salaries.head()

# Initial Set-up Code [ non-efficient ]

In [ ]:
from selenium import webdriver
import pandas as pd
import collections
import time
import csv
import time
import numpy as np

# Import CSV Files
player_stats = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playerstats.csv')
team_stats = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/teamstats.csv')
team_stats = team_stats.drop(columns=['PF', 'PFD', '+/-'])
player_details = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playerdetails.csv', index_col=None)
player_details['NAME'] = player_details['NAME'].str.replace('\n', ' ')
player_stats2 = player_stats.drop(columns=['PLAYER'])
player_salary = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries1.csv')
player_salary = player_salary.drop([0])
player_salary2 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries2.csv')
player_salary3 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries3.csv')
player_salary4 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries4.csv')
player_salary5 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries5.csv')
player_salary6 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries6.csv')
player_salary7 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries7.csv')
player_salary8 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries8.csv')
player_salary9 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries9.csv')
player_salary10 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries10.csv')
player_salary11 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries11.csv')
player_salary12 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries12.csv')
player_salary13 = pd.read_csv('/Users/josephrosas/Documents/2education/2_py/finalproject/playersalaries13.csv')

player_info = player_details.join(player_stats2)

ah = player_info.query('TEAM=="ATLANTA HAWKS"')
hawks = ah.drop(columns=['TEAM'])

bc = player_info.query('TEAM=="BOSTON CELTICS"')
celtics = bc.drop(columns=['TEAM'])

bn = player_info.query('TEAM=="BROOKLYN NETS"')
nets = bn.drop(columns=['TEAM'])

ch = player_info.query('TEAM=="CHARLOTTE HORNETS"')
hornets = ch.drop(columns=['TEAM'])

cb = player_info.query('TEAM=="CHICAGO BULLS"')
bulls = cb.drop(columns=['TEAM'])

cc = player_info.query('TEAM=="CLEVELAND CAVALIERS"')
cavaliers = cc.drop(columns=['TEAM'])

dm = player_info.query('TEAM=="DALLAS MAVERICKS"')
mavericks = dm.drop(columns=['TEAM'])

dn = player_info.query('TEAM=="DENVER NUGGETS"')
nuggets = dn.drop(columns=['TEAM'])

dp = player_info.query('TEAM=="DETROIT PISTONS"')
pistons = dp.drop(columns=['TEAM'])

gtw = player_info.query('TEAM=="GOLDEN STATE WARRIORS"')
warriors = gtw.drop(columns=['TEAM'])

ip = player_info.query('TEAM=="INDIANA PACERS"')
pacers = ip.drop(columns=['TEAM'])

lc = player_info.query('TEAM=="LA CLIPPERS"')
clippers = lc.drop(columns=['TEAM'])

ll = player_info.query('TEAM=="LOS ANGELES LAKERS"')
lakers = ll.drop(columns=['TEAM'])

mg = player_info.query('TEAM=="MEMPHIS GRIZZLIES"')
grizzlies = mg.drop(columns=['TEAM'])

mh = player_info.query('TEAM=="MIAMI HEAT"')
heat = mh.drop(columns=['TEAM'])

mb = player_info.query('TEAM=="MILWAUKEE BUCKS"')
bucks = mb.drop(columns=['TEAM'])

mt = player_info.query('TEAM=="MINNESOTA TIMBERWOLVES"')
timberwolves = mt.drop(columns=['TEAM'])

nop = player_info.query('TEAM=="NEW ORLEANS PELICANS"')
pelicans = nop.drop(columns=['TEAM'])

nyk = player_info.query('TEAM=="NEW YORK KNICKS"')
knicks = nyk.drop(columns=['TEAM'])

ot = player_info.query('TEAM=="OKLAHOMA CITY THUNDER"')
thunder = ot.drop(columns=['TEAM'])

p7 = player_info.query('TEAM=="PHILADELPHIA 76ERS"')
sixers = p7.drop(columns=['TEAM'])

ps = player_info.query('TEAM=="PHOENIX SUNS"')
suns = ps.drop(columns=['TEAM'])

ptb = player_info.query('TEAM=="PORTLAND TRAIL BLAZERS"')
blazers = ptb.drop(columns=['TEAM'])

sk = player_info.query('TEAM=="SACRAMENTO KINGS"')
kings = sk.drop(columns=['TEAM'])

sas = player_info.query('TEAM=="SAN ANTONIO SPURS"')
spurs = sas.drop(columns=['TEAM'])

tr = player_info.query('TEAM=="TORONTO RAPTORS"')
raptors = tr.drop(columns=['TEAM'])

uj = player_info.query('TEAM=="UTAH JAZZ"')
jazz = uj.drop(columns=['TEAM'])

ww = player_info.query('TEAM=="WASHINGTON WIZARDS"')
wizards = ww.drop(columns=['TEAM'])

hr = player_info.query('TEAM=="HOUSTON ROCKETS"')
rockets = hr.drop(columns=['TEAM'])

om = player_info.query('TEAM=="ORLANDO MAGIC"')
magic = om.drop(columns=['TEAM'])

player_salary['PLAYER'] = player_salary['NAME'].str.rpartition(',')[0]
player_salary['POSITION'] = player_salary['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary = player_salary[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]
player_salary = player_salary.drop([11,22,33])

player_salary2['PLAYER'] = player_salary2['NAME'].str.rpartition(',')[0]
player_salary2['POSITION'] = player_salary2['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary2 = player_salary2[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]
player_salary2 = player_salary2.drop([11,22,33])

player_salary3['PLAYER'] = player_salary3['NAME'].str.rpartition(',')[0]
player_salary3['POSITION'] = player_salary3['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary3 = player_salary3[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]
player_salary3 = player_salary3.drop([11,22,33])

player_salary4['PLAYER'] = player_salary4['NAME'].str.rpartition(',')[0]
player_salary4['POSITION'] = player_salary4['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary4 = player_salary4[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]
player_salary4 = player_salary4.drop([11,22,33])

player_salary5['PLAYER'] = player_salary5['NAME'].str.rpartition(',')[0]
player_salary5['POSITION'] = player_salary5['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary5 = player_salary5[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]
player_salary5 = player_salary5.drop([11,22,33])

player_salary6['PLAYER'] = player_salary6['NAME'].str.rpartition(',')[0]
player_salary6['POSITION'] = player_salary6['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary6 = player_salary6[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]
player_salary6 = player_salary6.drop([11,22,33])

player_salary7['PLAYER'] = player_salary7['NAME'].str.rpartition(',')[0]
player_salary7['POSITION'] = player_salary7['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary7 = player_salary7[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]
player_salary7 = player_salary7.drop([11,22,33])

player_salary8['PLAYER'] = player_salary8['NAME'].str.rpartition(',')[0]
player_salary8['POSITION'] = player_salary8['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary8 = player_salary8[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]
player_salary8 = player_salary8.drop([11,22,33])

player_salary9['PLAYER'] = player_salary9['NAME'].str.rpartition(',')[0]
player_salary9['POSITION'] = player_salary9['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary9 = player_salary9[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]
player_salary9 = player_salary9.drop([11,22,33])

player_salary10['PLAYER'] = player_salary10['NAME'].str.rpartition(',')[0]
player_salary10['POSITION'] = player_salary10['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary10 = player_salary10[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]
player_salary10 = player_salary10.drop([11,22,33])

player_salary11['PLAYER'] = player_salary11['NAME'].str.rpartition(',')[0]
player_salary11['POSITION'] = player_salary11['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary11 = player_salary11[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]
player_salary11 = player_salary11.drop([11,22,33])

player_salary12['PLAYER'] = player_salary12['NAME'].str.rpartition(',')[0]
player_salary12['POSITION'] = player_salary12['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary12 = player_salary12[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]
player_salary12 = player_salary12.drop([11,22,33])

player_salary13['PLAYER'] = player_salary13['NAME'].str.rpartition(',')[0]
player_salary13['POSITION'] = player_salary13['NAME'].str.rpartition(', ')[2].str.replace(", ", "")
player_salary13 = player_salary13[['RANK','PLAYER', 'POSITION','TEAM', 'SALARY']]
player_salary13 = player_salary13.drop([0])

#Combine DataFrames
salary_frames = [player_salary, player_salary2, player_salary3, player_salary4,
                  player_salary5, player_salary6, player_salary7, player_salary8,
                  player_salary9, player_salary10, player_salary11, player_salary12,player_salary13]

player_salaries = pd.concat(salary_frames)